:root {
  --clr-green-1: #D4E9E2;
  --clr-pink: #FA91AA;
  --clr-green-2: #9BF5B4;
  --clr-font-paraghraph: #1E4E69;
  --clr-font-title: #1E3932;
  --clr-white: #fff;
  --line-height: 1.5;
  --transition: all 0.3s linear;
}

body {
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
  background: var(--clr-white);
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

ul,
li {
  padding-left: 0;
}

a {
  text-decoration: none;
}

.main {
  max-width: 1170px;
  width: 95vw;
  margin: 0 auto;
}

.btn {
  color: black;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}

.details {
  line-height: var(--line-height);
  text-align: center;
  padding: 1.5rem;
}

/* <== MAIN ==> */

/* <== reward-card ==> */

.reward-card {
  background: var(--clr-green-1);
  margin-bottom: 1.5rem;
}

@media screen and (min-width:768px) {
  .reward-card {
    display: flex;
    align-items: center;
  }

  .details {
    width: 50%;
  }

  .img-container {
    width: 50%;
  }
}

/* <== pink-card ==> */

.pink-card {
  background: var(--clr-pink);
  margin-bottom: 1.5rem;
}

@media screen and (min-width:768px) {
  .pink-card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .details {
    width: 50%;
    padding: 0;
  }

  .img-container {
    width: 50%;
  }
}

/* <== green-card ==> */

.green-card {
  background: var(--clr-green-2);
  margin-bottom: 1.5rem;
}

@media screen and (min-width:768px) {
  .green-card {
    display: flex;
    align-items: center;
  }

  .details {
    width: 50%;
    padding: 0;
  }

  .img-container {
    width: 50%;
  }
}

/* <== alert ==> */

.alert {
  text-align: center;
  font-size: 14px;
  line-height: var(--line-height);
  margin: 2rem auto;
  max-width: 32rem;
}

/* <== footer ==> */


.accordion-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header p{
  text-transform: capitalize ;
  color: rgba(0,0,0,0.87);
  line-height: var( --line-height );
}

.down-up-btn{
  border: none;
  border-radius: 50%;
  background: var(--clr-white);
  font-size: 1.2rem;
  color: rgba(0,0,0,0.87);
  padding: 15px;
  text-align: center;
  transition: all 0.3s ease-out;
}

.down-up-btn:hover{
  cursor: pointer;
  border-radius: 50%;
  background:#dadada ;
  border: none;
}

.footer{
  border-top: 2px solid  lightgray;
  padding-top: 2rem;
}

.footer-icons{
  border-top: 2px solid  lightgray;
  padding-top: 2rem;
  font-size: 2rem;

}

.footer-icons a{
  margin-right: 1.2rem;
  color: black;
}

.footer-icons a:hover{
  border-radius: 50%;
}

.company-info{
  padding-top: 1rem;
}

.company-info li{
  padding-top: 0.7rem;
  text-transform: capitalize;
}

.company-info a{
  color: var(--clr-font-title);
}

.company-info a:hover{
  text-decoration: underline;
}

.rights-year{
  padding-top: 0.7rem;
  color: lightslategray;
}

